language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2

matrix:
  include:
    - php: 5.3
      dist: precise
  allow_failures:
    - php: 5.3

install:
  - if [ "$TRAVIS_PHP_VERSION" = "5.5" ]; then composer require "phpunit/phpunit:^4.8" --dev; fi;
  - if [ "$TRAVIS_PHP_VERSION" != "5.5" ]; then composer install --prefer-dist; fi;

before_script:
  - WEBSERVER_PHP_VERSION="5.6"
  - if [ ! -d "$HOME/.phpenv/versions/5.6" ]; then WEBSERVER_PHP_VERSION="5.4"; fi;
  - ~/.phpenv/versions/${WEBSERVER_PHP_VERSION}/bin/php -S localhost:8000 -t $(pwd) > /dev/null 2> /tmp/webserver_output.txt &
  - export REPO_URL=http://localhost:8000/
  - while ! curl $REPO_URL >/dev/null 2>&1; do sleep 1; done

script:
  - if [ "$TRAVIS_PHP_VERSION" = "5.5" ]; then ./vendor/bin/phpunit; fi;
  - if [ "$TRAVIS_PHP_VERSION" != "5.5" ]; then phpunit; fi;

after_failure:
    - cat /tmp/webserver_output.txt
