<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="true"
         strict="true"
         verbose="true">

    <testsuites>
        <testsuite name="Jira_Api Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!--
        <php>
            <server name="REPO_URL" value="http://localhost/"/>
        </php>
    -->

</phpunit>
